@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@font-face {
    font-family: 'neon_tubes_2regular';
    src: url('./Fonts/neontubes2-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.neontitle{
    font-family : neon_tubes_2regular;
    margin: 0;
    color: #fff0f0;
    font-size: 10vw;
    text-shadow: 0 0 40px #ff0404, 0 0 20px #ff0404;
    font-weight: 100;
    text-align:center;
}
#main{
    position:absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100vw;

}
.horizontalcontaier{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}

.motd{
    font-family: 'Open Sans';
    font-size: 3vw;
    text-align: left;
    color: #ffffff;
    margin: 0;
}

.info{
    font-family: 'Open Sans';
    font-size: 2vw;
    text-align: right;
    color: #ffffff;
    margin: 0;
}

.mes{
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: #5fc9f8;
    width: 80vw;
    height: auto;
    border: 1px solid #97C6E3;
    border-radius: 20px;
}

.login{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
input[type=password], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
}

input[type=submit]{
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
